

:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #000000;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-grey: #898989;
  --color-red-dark: #e03131;
}

body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #222; */
  background-image: url('./images/beautiful-clouds-digital-art.png');
  color: #ea2929;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: right;
  letter-spacing: 3px;
  font-size: 3vw;
  margin: 0 50px 0 50px;
  -webkit-transform: skew(-63deg, 26.6deg);
  -moz-transform: skew(-63deg, 26.6deg);
  -o-transform: skew(-63deg, 26.6deg);
  -ms-transform: skew(-63deg, 26.6deg);
  transform: skew(-63deg, 26.6deg);
} 


img {
  width: 3vw;
  height: 3vw;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.w-100 {
  width: 90%;
}

.world {
  min-height: calc(90vw * (1 / 3));
  position: relative;
  width: 90vw;

}

.tile {
  position: absolute;
  width: calc(100% / 9);
  height: auto;
  transform: translateX(-50%);
}
.goal {
  position: absolute;
  width: calc(60vh * (1 / 0.75));
  top: 0;
  -webkit-transform: skew(-63deg, 26.6deg);
  -moz-transform: skew(-63deg, 26.6deg);
  -o-transform: skew(-63deg, 26.6deg);
  -ms-transform: skew(-63deg, 26.6deg);
  transform: skew(-63deg, 26.6deg);
}

.player {
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  transition: top 0.35s linear, left 0.35s linear, transform 0.35s linear;
  width: 7vw;
  height: 7vw;
}
.frog.dead {
  -webkit-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -moz-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -o-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -ms-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  transform: skew(-63deg, 26.6deg) scaleY(0.5);
  text-shadow: 0 0 3px #89b549;
}

.boat,
.berry {
  position: absolute;
}

.boat {
  z-index: 900;
  width: 5vw;
  transform: translateX(-50%);
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}

.berry {
  transform: translate(-50%, -50%);
  z-index: 900;
  width: 4vw;
  height: 4vw;
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}

.pokemon {
  transform: translate(-50%, -60%);
  z-index: 900;
  width: 6vw;
  height: 6vw;
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}
.pokemon {
  position: absolute;
}

.pokeball {
  transform: translate(-70%, -30%) rotateX(25deg) rotateY(25deg);;
  z-index: 900;
  width: 2vw;
  height: 2vw;
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}
.pokeball {
  position: absolute;
}
.buttons {
  position: fixed;
  min-height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons > * {
  width: 100%;
}
.button {
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #89b549;
  border-radius: 50%;
}
.arrows svg {
  width: 100px;
  display: none;
  margin-left: 10px;
}
@media screen and (min-width: 1025px) {
  .button {
    display: none;
  }
  .arrows svg {
    display: block;
  }
}
@media screen and (min-width: 567px) {
  .buttons {
    min-height: 100vh;
  }
}
@media (orientation: portrait) {
  .buttons {
    min-height: 40vh;
  }
}

.score-bar {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
.score-bar .score-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 3vw;
  background: #222;
}
.score-bar svg {
  width: 4vw;
}
.score-bar span {
  line-height: 50px;
  padding: 0 10px;
}
.score-bar .score {
  margin-right: 20px;
}
.score-bar .button {
  display: block;
  border-radius: 5px;
  line-height: 30px;
  height: 30px;
  width: auto;
  padding: 0 10px;
  font-size: 14px;
  background-color: #222;
  border: 1px solid #89b549;
  z-index: 2000;
}

.nav-bar {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-background-900);
  display: flex;
  justify-content: center;

}

.intro-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-content {
  text-align: center;
}

.mybutton {
  background-color: var(--color-text);
  color: var(--color-text-dark);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}


h2 {
  font-size: 4vw;
}

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: black;

  /* background-color: var(--color-background-900); */
  background-color: white;
}

.search::placeholder {
  color: var(--color-grey);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.box {
  border-radius: 0.9rem;
  overflow: scroll;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1300;
  max-height: 89vh; /* Set the max height to 100% of viewport height */
}
/*******************************/
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.logo h2 {
  text-align: center;
}
/*******************************/

.btn-toggle {
  position: absolute;
  right: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-grey);
  color: var(--color-text);
  font-size: 50%;
  font-weight: bold;
  cursor: pointer;
  display: relative;
  z-index: 1500;

 
}

/*******************************/
.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: scroll;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list h2{
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  color: #fff;
}

.list span{
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  color: rgb(171, 170, 170);

}
.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*******************************/


.summary {
  padding: 0.5rem 2.2rem 0.5rem 2.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-900);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  width: calc(100%);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*******************************/

.title {
    font-size:3vw;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: relative;
}

.pokedexSum {
    font-size:3vw;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: relative;
    gap: 2rem; /* Adjust the gap between child elements */
    

}

/*************************/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1600; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 115px; /* Location of the box */
}

/* Modal Content/Box */

/* The Close Button */
.close {
  color: rgb(245, 245, 245);
  float: right;
  font-size: 30px;
  font-weight: bold;
  padding:4px 
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding:1px 16px;
  background-color: #d30606;
  color: white;
  border-radius: 20px; 
}

/* Modal Body */
.modal-body {padding: 2px 16px; }

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-image: url('./images/battle.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 20px; /* Rounded corners */
  height: 80vh;
  width: 80vw
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/*******************************/
