:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #000000;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-grey: #898989;
  --color-red-dark: #e03131;
  --pixel_size: 2px;
}

body {
  margin: 0;
  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/beautiful-clouds-digital-art.png");
  color: #ea2929;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: right;
  letter-spacing: 3px;
  font-size: 3vw;
  margin: 0 50px 0 50px;
  -webkit-transform: skew(-63deg, 26.6deg);
  -moz-transform: skew(-63deg, 26.6deg);
  -o-transform: skew(-63deg, 26.6deg);
  -ms-transform: skew(-63deg, 26.6deg);
  transform: skew(-63deg, 26.6deg);
}

img {
  width: 3vw;
  height: 3vw;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.w-100 {
  width: 90%;
}

.world {
  min-height: calc(900px * (1 / 3));
  position: absolute;
  width: 900px;
  top: 300px; /* Add this line */
  left: 370px;
  transform: scale(1.8); /* Replace zoom with transform: scale */
  transition: transform 1.5s ease-in-out;
  transform-origin: var(--x) var(--y);
}
.zoomed {
  transform: scale(4); /* Adjust the scale factor as needed */
  transition: transform 1.8s ease-in-out;
  transform-origin: var(--x) var(--y);
}

.tile {
  position: absolute;
  width: calc(100% / 9);
  height: auto;
  transform: translateX(-50%);
}

.goal {
  position: absolute;
  width: calc(60vh * (1 / 0.75));
  top: 0;
  -webkit-transform: skew(-63deg, 26.6deg);
  -moz-transform: skew(-63deg, 26.6deg);
  -o-transform: skew(-63deg, 26.6deg);
  -ms-transform: skew(-63deg, 26.6deg);
  transform: skew(-63deg, 26.6deg);
}

.player {
  position: absolute;
  z-index: 1200;
  transform: translate(-50%, -50%);
  transition: top 0.35s linear, left 0.35s linear;
  width: 60px;
  height: 60px;
}

.left {
  transform: translate(-50%, -40%) scaleX(-1);
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.form-container {
  display: flex;
  align-items: left;
}

.frog.dead {
  -webkit-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -moz-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -o-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  -ms-transform: skew(-63deg, 26.6deg) scaleY(0.5);
  transform: skew(-63deg, 26.6deg) scaleY(0.5);
  text-shadow: 0 0 3px #89b549;
}

.boat,
.berry {
  position: absolute;
}

.boat {
  z-index: 900;
  width: 4vw;
  transform: translateX(-50%);
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}

.berry {
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 25px;
  height: 25px;
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}

.pokemon {
  transform: translate(-50%, -60%);
  z-index: 1001;
  width: 60px;
  height: 60px;
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
  image-rendering: pixelated;
}
.pokemon {
  position: absolute;
}

.pokeball {
  transform: translate(-70%, -30%);
  z-index: 900;
  width: 20px;
  height: 20px;
  transition: top 0.35s linear, left 0.35s linear, opacity 0.5s linear;
}
.pokeball {
  position: absolute;
}
.buttons {
  position: fixed;
  min-height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons > * {
  width: 100%;
}
.button {
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #89b549;
  border-radius: 50%;
}
.arrows svg {
  width: 100px;
  display: none;
  margin-left: 10px;
}
@media screen and (min-width: 1025px) {
  .button {
    display: none;
  }
  .arrows svg {
    display: block;
  }
}
@media screen and (min-width: 567px) {
  .buttons {
    min-height: 100vh;
  }
}
@media (orientation: portrait) {
  .buttons {
    min-height: 40vh;
  }
}

.score-bar {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
.score-bar .score-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 3vw;
  background: #222;
}
.score-bar svg {
  width: 4vw;
}
.score-bar span {
  line-height: 50px;
  padding: 0 10px;
}
.score-bar .score {
  margin-right: 20px;
}
.score-bar .button {
  display: block;
  border-radius: 5px;
  line-height: 30px;
  height: 30px;
  width: auto;
  padding: 0 10px;
  font-size: 14px;
  background-color: #222;
  border: 1px solid #89b549;
  z-index: 2000;
}

.intro-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-content {
  text-align: center;
}

.mybutton {
  background-color: var(--color-text);
  color: var(--color-text-dark);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

h2 {
  font-size: 4vw;
}

.search {
  justify-self: right;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  width: 30rem;
  transition: all 0.3s;
  color: black;

  /* background-color: var(--color-background-900); */
  background-color: white;
}

.search::placeholder {
  color: var(--color-grey);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.box {
  /* border-radius: 0.0rem; */
  overflow: scroll;
  overflow-x: hidden; /* Disable horizontal scrolling */
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1800;
  max-height: calc(100% - 115px); /* Set maximum height */
}

.nav-bar {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-background-900);
  display: flex;
  z-index: 2000;
  position: fixed; /* Add this line */
  top: 0; /* Add this line */
  width: 100%; /* Add this line */
}

/*******************************/
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  text-align: right;
}

.logo h2 {
  text-align: center;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
/*******************************/

.btn-toggle {
  position: absolute;
  right: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-grey);
  color: var(--color-text);
  font-size: 50%;
  font-weight: bold;
  cursor: pointer;
  display: relative;
  z-index: 1500;
}

/*******************************/
.list {
  list-style: none;
  padding: 0.8 rem 0;
  overflow: scroll;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 1.6rem;
  align-items: center;

  padding: 1.6rem 3.2rem;
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}

.list img {
  width: 100%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 1.8rem;
}

.list h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  color: #fff;
  font-size: 4vw;
}

.list span {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  color: rgb(171, 170, 170);
}
.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*******************************/

.summary {
  padding: 0.5rem 2.2rem 0.5rem 2.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-900);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  width: calc(88%);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/*******************************/

.title {
  font-size: 3vw;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: relative;
}

.main-title {
  font-size: 2.1em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: relative;
}

.pokedexSum {
  font-size: 3vw;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: relative;
  gap: 2rem; /* Adjust the gap between child elements */
}

/*************************/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1600; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 115px; /* Location of the box */
}
.details-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1600; /* Sit on top */
  left: 0;
  top: 0;
  width: auto; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 115px; /* Location of the box */
  transition: left;
}

/* Modal Content/Box */

/* The Close Button */
.close {
  color: rgb(245, 245, 245);
  float: right;
  font-size: 30px;
  font-weight: bold;
  padding: 4px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 1px 16px;
  background-color: #d30606;
  color: white;
  border-radius: 20px;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.details-modal-content {
  position: relative;
  background-color: var(--color-background-900);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%; /* Adjusted background size */
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  /*border-radius: 20px;  Rounded corners */
  height: 88vh;
  width: 100vw;
}

.modal-content {
  position: relative;
  background-image: url("./images/battle.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%; /* Adjusted background size */
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  /*border-radius: 20px;  Rounded corners */
  height: 88vh;
  width: 100vw;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*******************************/

.wildName {
  color: #fff;
  font-size: 2vw;
  background-color: #5e5e5e; /* Background color */
  padding: 0.5rem 1rem; /* Padding around the text */
  border-radius: 1rem; /* Rounded corners */
  display: inline-block; /* Make it behave like an inline element */
}

.battleball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff5722;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
  z-index: 1500;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 200px, 0);
  }
}
/* Prefix Support */

.battleball {
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}

@keyframes pokemon-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*****************************/
.details-section {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.details-section div {
  text-align: center;
}

.details-section h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #f27a7a;
}

.details-section span {
  display: block;
  margin-top: 0.5rem;
}

.btn-add {
  background-color: #fa5252;
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1rem;
  padding: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap; /* Prevent text from wrapping */
}

.btn-close {
  background-color: #fa5252;
  position: absolute;
  right: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  color: var(--color-text);
  font-size: 50%;
  font-weight: bold;
  cursor: pointer;
  display: relative;
  z-index: 1500;
}

.instruction-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the card is on top */
  text-align: center;
}

.level-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
}

.level-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  margin-bottom: 10px;
}

.task h3 {
  margin-bottom: 5px;
  color: #333;
}

.task p {
  color: #666;
}

.star-icon {
  margin-bottom: -6px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */
  margin-bottom: "-8px";
}

.star-icon:hover {
  transform: scale(1.2); /* Scale the star icon on hover */
}
